layout {
  cwd "."
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  swap_tiled_layout name="stacked" {
    tab {
      pane split_direction="vertical" {
        pane size="50%"
        pane stacked=true { children; }
      }
    }
  }

  tab name="nvim" focus=true {
    pane {
      name "nvim"
      command "nvim"
    }
  }

  // tab name="commands" {
  //   pane stacked=true {
  //     pane {
  //       name "fish"
  //     }
  //     pane {
  //       name "rails console"
  //       start_suspended true
  //       command "docker"
  //       args "compose" "exec" "web" "bundle" "exec" "rails" "console"
  //     }
  //     pane {
  //       name "rails dbconsole"
  //       start_suspended true
  //       command "docker"
  //       args "compose" "exec" "web" "bundle" "exec" "rails" "dbconsole"
  //     }
  //   }
  // }

  tab name="services" {
    pane {
      name "yarn dev"
      start_suspended true
      // command "npm"
      // args "run" "dev"
      command "yarn"
      args "dev"
    }
  }

  tab name="fish" {
    pane
  }
}
